<div class="col-md-6">
    <h4>
      {{post.title}}&nbsp;&nbsp;
      <a ng-click="toggleCommentForm()">Add Comment</a>
    </h4><br>
    <div ng-hide="CommentForm" ng-controller="CommentCtrl">
      <form ng-submit="saveComment(post)">
        <div class="form-group">
          <label for="comment.description">Text:</label><br>
          <div class="col-md-8">
            <input type="text" class="form-control" id="title" ng-model="comment.description" placeholder="add your own comment">
          </div><br><br>
          <div class="col-md-12">
            <input type="submit" class="btn btn-primary " value="Submit" />
          </div>
        </div>
      </form>
    </div><br><br>
    <div ng-show="CommentForm"></div>
    <div>
       <ul>
          <h4> Comments </h4>
          <li  ng-repeat="comment in comments">
            <p>{{$index+1}}.{{comment.description}} </p>
            <a ng-click="toggleReplyForm('input_'+$index)">Reply</a>
            <div ng-show="input_{{$index}}">
              <form ng-submit="saveReply(comment)">
                <div class="form-group">
                  <label for="reply.text">Text:</label><br>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="title" ng-model="reply.text" placeholder="add your own comment">
                  </div><br><br>
                  <a ng-click="RemoveReplyForm('input_'+$index)">Remove Reply</a>
                </div>
              </form>
            </div>
          </li>
       </ul>
    </div>
  <a class="" href="#/posts/new">New</a> |  
  <a class="" href="#/posts/{{post.id}}/edit">Edit</a> | 
  <a class="" href="#/posts">Posts</a>
</div>